@import '../styles/_vars.scss';
@import '../styles/_mixins.scss';
.posts_wrapper {
    display: block;
    @include wrap-paddings;

    .gridder {
        display: grid;
         grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
        width: 100%; 
        padding-top: 1.875em; 
        padding-bottom: 1.875em;
        grid-column-gap: 1em;
        grid-row-gap: 1em; 
    }



.posts {
    position: relative;
    height: 100%;
    display: grid ; 
    ///grid-template-columns: repeat(auto-fit, minmax(20em, 1fr)); 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: space-around;
    
    padding-top: 1em;
    padding-bottom: 1em;  
 
    margin: 0 auto; 
    &.mobile, &.tablet {
       
        padding-left: 1.875em;
        padding-right: 1.875em;
       // grid-template-columns: repeat(1, 1fr); 
        
        
    }
    &.desktop, &.laptop {
        padding-left: 5.625em;
        padding-right: 5.625em; 
    } 

}

    

    
}