@import '../styles/_vars.scss';
@import '../styles/_mixins.scss';
.posts_wrapper {
    display: block;
    @include wrap-paddings;

    .gridder {  
        display: grid; 
        grid-column: 3;
        max-width: 100%; 

        &:first-child {
            //grid-template-columns:  (30vw, 1fr);
            grid-column: 1 / 3;
            ///grid-template-columns: repeat(auto-fit, minmax(80%, 1fr))
            
        }

        @include responsive($md) {
            ///grid-template-columns: repeat(auto-fit, minmax(40%, 1fr))
        }
        
       

        padding-top: 1.875em; 
        padding-bottom: 1.875em;
        grid-column-gap: 1em;
        grid-row-gap: 1em; 

        .featured { 
            border: 10px solid $mainOrange; 
            grid-column: 1 / 3; 
            
        } 
        

        &.mobile, &.tablet { 
             grid-template-columns: repeat(1, 1fr); 
        }
      
        
    }



.posts {
    position: relative;
    height: 100%;
    display: grid ; 
    ///grid-template-columns: repeat(auto-fit, minmax(20em, 1fr)); 
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: space-around;
    
    padding-top: 1em;
    padding-bottom: 1em;  
 
    margin: 0 auto; 
    &.mobile, &.tablet {
       
        padding-left: 1.875em;
        padding-right: 1.875em;
       // grid-template-columns: repeat(1, 1fr); 
        
        
    }
    &.desktop, &.laptop {
        padding-left: 5.625em;
        padding-right: 5.625em; 
    } 

}

    

    
}
