.header {
	border: 1px solid red;
	font-size: 25px;
//	background-image: url("stylesheetDir+'/src/assets/14.png'");// require('../assets/14.png'); //url('../assets/14.png');
	background-size: cover;
 	background-blend-mode: lighten;
	min-height: 300px;

	h2 {
   		font-size: 20px;
	}
}